.uimodal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9;
  transition: ease-in-out 0.2s;

  display: flex;
  justify-content: center;
  align-items: center;

  &-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba($color: $black-color, $alpha: 0.5);
  }
  &-content {
    position: relative;
    background-color: $white-color;
    box-shadow: $box-shadow;
    border: $border;

    animation: 0.5s 0.2s fadeInDown both;
    transition: all 0.3s ease;

    min-width: 25%;
    min-height: 10%;
    max-height: 98%;
    max-width: 98%;

    overflow-y: auto;
    overflow-x: hidden;

    border-radius: $border-radius;

    &.hide {
      animation: 0.5s 0.2s fadeOutUp both !important;
    }

    &--cross {
      z-index: 999;
      position: absolute;
      top: 1rem;
      right: 1.3rem;
      color: rgba($color: $black-color, $alpha: 0.7);
      .tooltip {
        padding: 0;
        background-color: transparent;
        font-size: 1.2rem;
        i {
          font-size: 1.8rem;
        }
      }

      &:active {
        opacity: 0.8;
      }
    }
  }
}
